<div [style.visibility]="visible" [style.opacity]="opacity" id="menu">
  <ul>
    <li>
      <a  href="log" (click)="onSubmit()">{{logowanie}}</a>
    </li>
    <li>
      <a href="roomboard">Oferty</a>
    </li>
    <li>
      <a href="workercreation">Nowy Pracownik</a>
    </li>
    <li>
      <a href="profil">Profil</a>
    </li>
    <li>
      <a href="roomadd">Dodaj Pokoj</a>
    </li>
    <li>
      <a href="workergrid">Room Grid</a>
    </li>
    <li>
      <a href="panel">panel</a>
    </li>
    <li>
      <a href="e_worker">e-Worker</a>
    </li>
    <li>
      <a href="workerboard">Pracownicy</a>
    </li>
    <li>
      <a href="customerboard">Klient Board</a>
    </li>
    <li>
      <a href="reservationboard">Rezerwacje</a>
    </li>
    <li>
      <a href="roomgrid">Pokoje</a>
    </li>
    <li>
      <a *ngIf="!IsLogged()" href="signup">Rejestracja</a>
    </li>
  </ul>
</div>
<button id="hamburger" (click)="hamburger()">&#9776;</button>
