<div [style.visibility]="visible" [style.opacity]="opacity" id="menu">
  <ul>
    <li>
      <a href="roomboard">OFERTY</a>
    </li>
    <li>
      <a  href="log" *ngIf="!checkLog()">ZALOGUJ</a>
    </li>
    <li>
      <a *ngIf="!checkLog()" href="signup">REJESTRACJA</a>
    </li>
    <li>
      <a href="profil" *ngIf="checkLog()">PROFIL</a>
    </li>
    <li>
    <div  *ngIf="checkLog() && checkUpr()" class="dropdown">
      <button class="dropbtn">E-PRACOWNIK
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="panel">OBOWIĄZKI</a>
          <a href="reservationboard">REZERWACJE</a>
        <a href="workergrid">OFERTY</a>
      </div>
    </div>
    </li>
    <li>
      <div  *ngIf="checkLog() && checkAdmin()" class="dropdown">
        <button class="dropbtn"><p>    </p> ZARZĄDZAJ
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="workercreation">NOWY PRACOWNIK</a>
          <a href="roomadd">DODAJ OFERTĘ</a>
        </div>
      </div>
    </li>
    <li>
      <div  *ngIf="checkLog() && checkAdmin()" class="dropdown">
        <button class="dropbtn"><p>      </p> <p>  </p>PANELE
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="workerboard">PRACOWNIK</a>
          <a href="customerboard">KLIENT</a>
          <a href="roomgrid">OFERTY</a>
        </div>
      </div>
    </li>
    <li>
      <a href="e_worker" *ngIf="!checkLog() ">E-PRACOWNIK</a>
    </li>
    <li>
      <a  href="roomboard" *ngIf="checkLog()" (click)="logOut()">WYLOGUJ</a>
    </li>
  </ul>
</div>
<button id="hamburger" (click)="hamburger()">&#9776;</button>
