#menu{
  opacity: 1;
  visibility: visible;
  position: fixed;
  background: #272b30;
  box-sizing: content-box;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 2px 2px 10px;
  border-radius: 5px;
  box-shadow: -5px -5px 15px black;
  z-index: 999;
  font-size: 16px;
}

#menu ul{
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 1px 0px 1px 0px;
  height: 30px;
}

#menu li{
  padding: 0px;
  box-sizing: content-box;
  display: inline-flex;
  height: 30px;
}

#menu a{
  text-decoration: none;
  height: 30px;
  color: white;
  width: 200px;
}

#menu a:hover{
  transform: scale(1.05);
  transform: rotate(3deg);
  transition: 0.2s all ease-in-out;
  border: 2px solid black;
}

#hamburger{
  position: fixed;
  z-index: 9999;
  height: 40px;
  width: 40px;
  background: #272b30;
  border: 1px solid black;
  box-shadow: 1px -5px 5px black;
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 200px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #46494f;
}

.dropdown:hover{
  overflow: visible;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #272b30;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  min-width: 200px;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


@media only screen and  (max-width: 1100px){

  #menu{
    height: 80px;
  }

  #hamburger{
    height: 30px;
    width: 30px;
  }

  #menu{
    padding-left: 35px;
  }

}

@media only screen and  (max-width: 800px){

  #menu{
    padding-left: 15px;
    margin-top: 0px;
    height: 300px;
    width: 100%;
    border: 2px solid whitesmoke;
  }

  #menu li{
    margin-top: 0px;
    display: flex;
    border: 2px solid whitesmoke;
  }

  #menu ul{
    width: 75%;
  }

  #menu a{
    padding-top: 0px;
    width: 100%;
  }

  #hamburger{
    margin-top: 311px;
    height: 40px;
    width: 40px;
  }

}
