<div class="page-margin">
  <div *ngIf="room">
    <div id="karta">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header">
          <div class="form-group"><h2><strong>
            {{room.title}}
          </strong></h2>  <br/></div>
          <div class="form-group"><label> <strong>Numer Pokoju:</strong> </label> {{room.numberRM}} <br/></div>
          <div class="form-group"><label> <strong> Piętro: </strong> </label> {{room.floor}} <br/></div>
          <div class="form-group"><label> <strong>Cena: </strong> </label> {{room.price}} <br/></div>
          <div class="form-group"><label> <strong> Maksymalna Liczba osób: </strong> </label> {{room.maxCapacity}} <br/>
          </div>
          <div class="form-group"><label> <strong> Opis </strong> </label> {{room.description}} <br/></div>
        </div>
        <br/>
        <div class="card-body">
          <div class="img-cards">
            <img src="/assets/{{room.urlImages}}" style="text-align: left">
          </div>
          <Button type="button" class="btn btn-primary btn-lg" (click)="MakeReervation()"> Zarezerwuj</Button>
        </div>
      </div>
    </div>
  </div>
  <div class="input-comment">
    <div class="form-group"><label>Dodaj komentarz: </label>
      <textarea class="form-control" name="description" [(ngModel)]="comment.textValue"
                [defaultValue]="'Brak Komentarza'" placeholder="Wpisz komentarz i dodaj ocenę." rows="8"></textarea>
      <div class="form-group">
        Wybierz ocene:
        <select name="mark" [(ngModel)]="comment.mark">
          <option name="mark" *ngFor="let m of marks" [ngValue]="m"> {{m}} </option>
        </select>
        <button type="button" class="btn btn-primary btn-lg" (click)="submitComment()">Dodaj</button>
      </div>
      <br/></div>
  </div>

  <div *ngFor="let com of addedComments">
    <div class="comment">
      ocena: {{com.mark}}/5
      <p *ngIf="com.textValue">{{com.textValue}}</p>
    </div>
  </div>
</div>
