<div *ngIf="room">
  <div id="karta">
    <div style="border:4px solid white;">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header"><a (click)="Goto()">
          <h3>{{room.title | slice: 0:300}} </h3>
        </a></div>
        <br/>
        <div class="card-body">
          <div class="one-card-body">
          <div id="zawartosc">
            <div class="form-group"><label>Cena: </label> {{room.price}} <br/></div>
            <div class="form-group"><label>Maksymalna Liczba osób: </label> {{room.maxCapacity}} <br/></div>
          </div>
          <div class="form-group" style="text-align: center">
            <img mat-card-image src="../../../assets/{{room.urlImages}}">
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
