#pola{
  padding-top: 200px;
  box-sizing: content-box;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

#data{
  padding: 30px;
  text-align: center;
  flex-wrap: wrap;
  width: 600px;
}

.inputform{
  margin: 20px 0px;
  background: none;
  border-bottom-color: whitesmoke;
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 20px 0px;
  width: 540px;
}

.btn-submit-e{
  margin-top: 30px;
}

.buttonSo:hover{
  transform: scale(1.2);
}

#data h2{
  color: white;
  border-bottom: 2px solid black;
  font-size: 26px;
  padding-bottom: 40px;
}


@media only screen and  (max-width: 800px) {

  .inputform{
    margin: 20px 0px;
    background: none;
    border-bottom-color: whitesmoke;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 20px 0px;
    width: 400px;
  }

  #data{
    padding: 30px;
    text-align: center;
    flex-wrap: wrap;
    width: 450px;
  }

}
