#pola{
  box-sizing: content-box;
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding-top: 200px;
}

#data{
  padding: 30px;
  text-align: center;
  flex-wrap: wrap;
  width: 400px;
}

.inputform{
  margin: 20px;
  background: none;
  border-bottom-color: whitesmoke;
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  width: 300px;
}

.buttonSo{
  background: transparent;
  width: 300px;
  text-align: center;
  font-size: 24px;
  color: whitesmoke;
  border: none;
}

.buttonSo:hover{
  transform: scale(1.2);
}
