<div class="page-margin">
<div *ngIf="room">
  <div id="karta">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header"><h2> {{room.title}}</h2> <br/></div>
      <div class="card-body">
        <div class="form-group"><label>Numer Pokoju: </label> {{room.numberRM}} <br/></div>
        <div class="form-group"><label>Piętro: </label> {{room.floor}} <br/></div>
        <div class="form-group"><label>Cena: </label> {{room.price}} <br/></div>
        <div class="form-group"><label>Maksymalna Liczba osób: </label> {{room.maxCapacity}} <br/></div>
        <div class="form-group"><label>Opis </label> {{room.description}} <br/></div>
        <br/>
        <br/>
        <br/>

        <div class="form-input-reservation">
        <form [formGroup]="contactForm">
          <div class="inputs-date" *ngIf="menuchecker.checkUpr()">
            <h3> Wybierz Imie i Nazwisko klienta: </h3>
            <select name="customer" class="form-control" formControlName="customer">
              <option name="customer" [ngValue]="null" disabled>Wybierz Klienta</option>
              <option name="customer" *ngFor="let worker of customers | async"
                      [ngValue]="worker.idCustomer"> {{worker.firstname + ' ' + worker.lastname}}</option>
            </select>
            <br/>
            <br/>
          </div>
          <div class="inputs-date">
            <h3> Wybierz termin przyjazdu: </h3>
            <span>
              Na początku wybierz rok, potem miesiąc, a na końcu dzień.
            </span>
            <select name="dayStart" formControlName="dayStart" class="form-control">
              <option name="dayStart" [ngValue]="null" disabled>Dzień</option>
              <option name="dayStart" *ngFor="let d of dni"
                      [ngValue]="d"> {{d}}</option>
            </select>
            <select name="monthStart" formControlName="monthStart" class="form-control" (change)="getDays()">
              <option name="monthStart" [ngValue]="null" disabled>Miesiac</option>
              <option name="monthStart" *ngFor="let m of months"
                      [ngValue]="m"> {{m}}</option>
            </select>
            <select name="yearStart" formControlName="yearStart" (change)="getDays()" class="form-control">
              <option name="yearStart" [ngValue]="null" disabled>Rok</option>
              <option name="yearStart" *ngFor="let r of years"
                      [ngValue]="r"> {{r}}</option>
            </select>
            <br/>
            <br/>
          </div>
          <div class="inputs-date">
            <h3> Wybierz termin wyjazdu: </h3>
            <span>
              Na początku wybierz rok, potem miesiąc, a na końcu dzień.
            </span>
            <select name="dayEnd" formControlName="dayEnd" class="form-control">
              <option name="dayEnd" [ngValue]="null" disabled>Dzień</option>
              <option name="dayEnd" *ngFor="let d of dni"
                      [ngValue]="d"> {{d}}</option>
            </select>
            <select name="monthEnd" formControlName="monthEnd" (change)="getDays()" class="form-control">
              <option name="monthEnd" [ngValue]="null" disabled>Miesiac</option>
              <option name="monthEnd" *ngFor="let m of months"
                      [ngValue]="m"> {{m}}</option>
            </select>
            <select name="yearEnd" formControlName="yearEnd" (change)="getDays()" class="form-control">
              <option name="yearEnd" [ngValue]="null" disabled>Rok</option>
              <option name="yearEnd" *ngFor="let r of years"
                      [ngValue]="r"> {{r}}</option>
            </select>
          </div>
        </form>
        <br/>
        <br/>
        <div style="text-align: left">
          <button type="button" class="btn btn-primary btn-lg" (click)="onSubmit()">Dodaj Rezerwacje</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
