.dni{
  height: 80px;
  width: 80px;
  background: whitesmoke;
  margin: 10px;
  border: solid 5px ;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  columns: 7;
  font-size: 14px;
}

.page-margin{
  margin: 0px 300px 0px 300px;
}

#kalendarz{
  box-sizing: content-box;
  flex-wrap: wrap;
  display: flex;
  width: 700px;
}


#nav{
  margin: 5%;
}

#nav{
  background-color: darkviolet;
  padding: 0.5em 0;
}

#karta{
  margin: 10px;
}

.inputs-date{
  padding: 10px;
  margin: 10px;
}

.inputs-date .form-control{
  margin: 5px;
  width: 400px;
}

.form-input-reservation{
  box-sizing: content-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
