<div id="pola">
  <div id="data">
    <form>
      <fieldset>
        <label for="firstname">Imie</label>
        <input class="inputform" type="text" name="firstname" id="firstname" required [(ngModel)]="worker.firstname"
               value="{{worker.firstname}}"><br/> <br/>
        <label for="lastname">Nazwisko: </label>
        <input class="inputform" type="text" name="lastname" id="lastname" required [(ngModel)]="worker.lastname"
               value="{{worker.lastname}}"><br/> <br/>
        <label for="login">login</label>
        <input class="inputform" type="text" name="login" id="login" required [(ngModel)]="worker.login"
               value="{{worker.login}}"><br/> <br/>
        <label for="position">Stanowisko: </label>
        <input class="inputform" type="text" name="position" id="position" required [(ngModel)]="worker.position"
               value="{{worker.position}}"><br/> <br/>
        <label for="email">Email: </label>
        <input class="inputform" type="text" name="email" id="email" required [(ngModel)]="worker.email"
               value="{{worker.email}}"><br/> <br/>
        <label for="activity">Status: </label>
        <input class="inputform" type="text" name="activity" id="activity" required [(ngModel)]="worker.activity"
               value="{{worker.activity}}"><br/> <br/>
        <label for="pesel">Pesel: </label>
        <input class="inputform" type="number" name="pesel" id="pesel" required [(ngModel)]="worker.pesel"
               value="{{worker.pesel}}"><br/> <br/>
        <label for="responsibilities">Obowiązki: </label>
        <input class="inputform" type="text" name="responsibilities" id="responsibilities" required
               [(ngModel)]="worker.responsibilities" value="{{worker.responsibilities}}"><br/> <br/>
        <label for="workinghours">Godziny Pracy: </label>
        <input class="inputform" type="text" name="workinghours" id="workinghours" required
               [(ngModel)]="worker.workinghours" value="{{worker.workinghours}}"><br/> <br/>
        <label for="salary">Pensja: </label>
        <input class="inputform" type="number" name="salary" id="salary" required [(ngModel)]="worker.salary"
               value="{{worker.salary}}"><br/> <br/>
        <label for="dateofbirth">Data Urodzenia: </label>
        <input class="inputform" type="Date" name="dateofbirth" id="dateofbirth" required
               [(ngModel)]="worker.dateofbirth" value="{{worker.dateofbirth}}"><br/> <br/>
        <label for="dateofemployment">Data Zatrudnienia: </label>
        <input class="inputform" type="Date" name="dateofemployment" id="dateofemployment" required
               [(ngModel)]="worker.dateofemployment" value="{{worker.dateofemployment}}"><br/> <br/>
        <label for="uprawnienia">Uprawnienia: </label>
        <select formControlName="uprawnienia" id="uprawnienia"><br/> <br/>
          <option selected value="" hidden disabled>Uprawnienia</option>
          <option *ngFor="let upr of uprawnienia" [ngValue]="upr.id"> {{upr.stan}}</option>
        </select>
        <button type="button" class="btn btn-primary" (click)="onReset()">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSave()">Zapisz</button>
      </fieldset>
    </form>
  </div>
</div>

