.inputform{
  margin: 20px;
  background: none;
  border-bottom-color: whitesmoke;
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  width: 300px;
  color: white;
}

#pola{
  box-sizing: content-box;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

#data{
  padding: 30px;
  text-align: left;
  flex-wrap: wrap;
  width: 600px;
  color: white;
  font-size: 16px;
}

#formUpr{
  display: inline;
}

.FormInput{
  width: 600px;
  text-align: left;
}

label{
  width: 200px;
}

.btn-sumbit-edit-worker{
  margin-top: 20px;
  text-align: center;
  display: inline-block;
}
