

#content{
  background: whitesmoke;
  border-radius: 5px;
  min-height: 500px;
  padding: 0px 40px 0px 40px;
  box-shadow: -5px -5px 15px black;
  margin: 40px 0px 0px 0px;
}

#content h2{
  border-bottom: 1px solid #2e303d;
}

#content h2:hover{
  transform: scale(1.2) rotate(0.5deg);
}

.inside {
  background: #272b30;
  min-height: 740px;
  padding: 0px 5px 20px 5px;
  margin: 0px 30px 0px 30px;
  box-shadow: -5px -5px 15px black;
}

.card{
  background: #2e303d !important;
}



