
.elemy {
  margin: 20px;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  flex-flow: row;
  width: 750px;
  height: 450px;
  min-width: 750px;
  min-height: 450px;
}

.danepok {
  padding-top: 30px;
  background: whitesmoke;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tab {
  padding-top: 30px;
  display: flex;
}

.inputs-room {
  text-align: center;
  color: white;
  width: 100%;
  padding: 80px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card {
  background: #4E4F63 !important;
}

.input-search {
  margin: 10px;
  width: 600px;
}

.page-margin{
  margin: 0px 200px 0px 200px;
}
