
.elemy{
  margin: 20px;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  flex-flow: row;
  width: 750px;
  height: 450px;
  min-width: 750px;
  min-height: 450px;
}

.danepok{
  padding-top: 30px;
  background: whitesmoke;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tab{
  padding-top: 30px ;
  display: flex;
}


.card{
  background: #4E4F63 !important;
}
