
<div *ngIf="worker" [hidden]="!isVisible">
  <h2> {{worker.firstname}} {{worker.lastname}}</h2> <br/>
  <label>Stanowisko :  </label> {{worker.position}} <br/>
  <label>E-mail </label> {{worker.email}} <br/>
  <label>Stan Pracownika:  </label>  {{worker.activity}} <br/>
  <label>Data Urodzenia: </label>  {{worker.dateofbirth}} <br/>
  <label>Data Zatrudnienia:  </label>  {{worker.dateofemployment}} <br/>
  <label>PESEL:  </label>  {{worker.pesel}} <br/>
  <label>Obowiązki: </label>  {{worker.responsibilities}} <br/>
  <label>Czas Pracy: </label>  {{worker.workinghours}} <br/>
  <label>Pensja:  </label>  {{worker.salary}} <br/>
</div>
<button type="button" class="btn btn-primary" (click)="GotoEditWorker()" [hidden]="!isVisible">Edytuj</button>
<app-worker-edit [worker]="worker" [hidden]="isVisible"></app-worker-edit>

