<div id="pola">
  <div id="data">
    <form [formGroup]="uprawnieniaForm" (ngSubmit)="sub()">
      <input type="text" class="inputform" name="username" placeholder="Login" id="username" formControlName="login">
      <br/>
      <input type="password" class="inputform" name="password" placeholder="Hasło" id="password"
             formControlName="passwordOrg">
      <br/>
      <input type="text" class="inputform" name="password" placeholder="Powtórz hasło" id="passwordTwo"
             formControlName="password">
      <br/>
      <input type="text" class="inputform" name="email" placeholder="email" id="email" formControlName="email">
      <br/>
      <input type="text" class="inputform" name="position" placeholder="stanowisko" id="position"
             formControlName="position">
      <br/>
      <input type="text" class="inputform" name="firstname" placeholder="Imie" id="firstname"
             formControlName="firstname">
      <br/>
      <input type="text" class="inputform" name="lastname" placeholder="nazwisko" id="lastname"
             formControlName="lastname">
      <br/>
      <input type="text" class="inputform" name="pesel" placeholder="pesel" id="pesel" formControlName="pesel">
      <br/>
      <br/>
      <label>Uprawnienia</label>
      <select formControlName="uprawnienia" class="form-control">
        <option name="uprawnienia" [ngValue]="null" disabled>Wybierz uprawnienia</option>
        <option *ngFor="let upr of uprawnienia" [ngValue]="upr.id"> {{upr.stan}}</option>
      </select>
      <br/>
      <br/>
      <label> Data Zatrudnienia: </label>
      <input class="form-control" type="Date" name="dateofbirth" formControlName="dateofemployment">
      <br/>
      <br/>
      <label> Data Urodzenia: </label>
      <input class="form-control" type="Date" name="dateofemployment" formControlName="dateofbirth">
      <br/>
      <br/>
      <button class="form-control" type="button" class="btn btn-primary btn-lg" type="submit">Zarejestruj</button>
    </form>
  </div>
</div>

