<div class="panelHelp">
  <button type="button" class="btn btn-primary btn-lg" (click)="newResponsibility()">Dodaj Obowiązek</button>
  <br/>
  <br/>

  <h3>Wyszukaj obowiązki pracownika:</h3>
  <input type="text" name="inputfilter" class="form-control" style="width: 600px; text-align: center" [(ngModel)]="filter" (keyup)="filterFunction()">
</div>
<div class="wstaw">
  <div class="responsibility-card" *ngFor="let responsibility of responsibility">
      <div class="panel card text-white bg-dark mb-3" style="max-width: 20rem;">
        <div class="card-header"> Zadanie: {{responsibility.nameResponsibility}}</div>
        <div class="card-body">
          <h4 class="card-title"> Status:   {{responsibility.status}}</h4>
          <h4 class="card-title"> Przypisane:    {{responsibility.responsible}}</h4>
          <p class="card-text"> Opis:  {{responsibility.description}}</p>
        <button type="button" class="btn btn-primary btn-lg" [hidden]="checkStatus(responsibility.status)" (click)="zmienStatus(responsibility)">
          Zmien Status
        </button>
          <button type="button" class="btn btn-primary btn-lg" (click)="deleteResponsibility(responsibility)">
            Usuń
          </button>
      </div>
    </div>
  </div>
</div>
