@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";


html{
  background: #2e303d;
}

body{
  margin: 0px;
  font-family: 'Raleway', sans-serif, cursive;
  font-size: 16px;
  color: black;
  z-index: 1;
}

.btn-secondary{
  width: 150px;
}

.btn-primary{
  width: 200px;
  margin: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
